html,
body {
	height: 100%;
}

html {
	color: #222222;
	line-height: 1.4;
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	font-size: 20px;
	color: white;
}

@font-face {
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: normal;
}

.nobr {
	white-space: nowrap;
}

* {
	font-family: "Avenir Next", serif;
}

.center-container {
	width: 100%;
	height: 100%;
	overflow-x: visible;
	overflow-y: visible;
	text-align: center;
}

.center-container::after,
.center-block {
	display: inline-block;
	vertical-align: middle;
}

.center-container::after {
	content: "";
	height: 100%;
	margin-left: -0.25em;
}

.center-block {
	max-width: 98%;
}

a {
	color: white;
}

p {
	cursor: default;
}

h1,
h2 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	cursor: default;
	width: auto;
	height: auto;
}

h1 {
	font-size: calc(2em + 4vw);
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55);
}

h2 {
	font-size: calc(0.8em + 1vw);
	font-weight: bold;
	text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.55);
}

#itunesButton {
	width: auto;
	height: auto;
	max-height: 200pt;
	max-width: 200pt;
	min-width: 200pt;
}

#googlePlayButton {
	height: auto;
	width: auto;
	max-width: 200pt;
	max-height: 200pt;
	min-width: 200pt;
}
